/* color palette: 
'without a heart'
dark: 353536
purple: 615aa2
light purple: 8e80c4
purple-pink: c8a9e3
cream green: e2ebe3
*/

.timer {
	height: 240px;
	padding: 10px;
	background: #e2ebe3;
	color: #353536;
	text-align: right;
  }
  
  .timer-text {
	padding: 25px;
  }

body{
	padding: 0;
	margin: 0;
	width:100vw;
	height: 100vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #e2ebe3;
}

.panel{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.question-container, .start-button, .start-text{
	margin: 10px;
	padding: 1.5%;
	min-width: 1em;
	min-height: 1em;
	background-color: #f2f0f1;
	font-size: x-large;
	text-align: center;
	color: #353536;
	border-color: #353536;
	background-color: #e2ebe3;
	border-width: 3px;
}

.question-container-border {
	border-width: 3px;
}

.result{
	margin: 10px;
	padding: 5px;
	width:80vw;
	min-height: 1em;
	text-align: center;
	font-size: 50px;
}

.option-container{
	display: flex;
	justify-content: space-around;
	width: 80vw;
	min-height: 1em;
	background-color: #e2ebe3;
	color: #353536
}

.option{
	padding: 10px;
	width: 15vw;
	min-height: 1em;
	font-size: larger;
	background-color: #c8a9e3;
	border-radius: 50%;
	border-color: #353536;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.option:hover{
	background-color: #615aa2;
}

/* .navigation{
	width: 30vw;
	min-height: 1em;
	margin: 10px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	background-color:#e1ddda;
}

 .evaluate,.next{
	width:30vw;
	height: 8vh;
	padding: 5px;
	font-size: larger;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

 .evaluate{

	background-color: #50DBB4;
}

.next{
	color: white;
	background-color: #BF3325;
} */