/* color palette: 
green: 496b17
pink: f1c8ce
white: f2f0f1
grey: e1ddda
hot pink: f26d7e */

body{
	padding: 0;
	margin: 0;
	width:100vw;
	height: 100vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #e1ddda;
}

.panel{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.question-container{
	margin: 10px;
	padding: 1.5%;
	min-width: 1em;
	min-height: 1em;
	background-color: #f2f0f1;
	font-size: x-large;
	text-align: center;
}

.result{
	margin: 10px;
	padding: 5px;
	width:80vw;
	min-height: 1em;
	text-align: center;
	font-size: 50px;
}

.option-container{
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 5px;
	width: 80vw;
	min-height: 1em;
	background-color: #e1ddda;
}

.option{
	padding: 10px;
	width: 15vw;
	min-height: 1em;
	font-size: larger;
	background-color: #f1c8ce;
	border-radius: 25%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.option:hover{
	background-color: lightgoldenrodyellow;
}

.navigation{
	width: 30vw;
	min-height: 1em;
	margin: 10px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	background-color:#e1ddda;
}

/* .evaluate,.next{
	width:30vw;
	height: 8vh;
	padding: 5px;
	font-size: larger;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

 .evaluate{

	background-color: #50DBB4;
}

.next{
	color: white;
	background-color: #BF3325;
} */