body {
	font-size: 20px;
	font-family: sans-serif;
	color: #fef2e3;
  background-color: #211103;
  text-align: center;
}

.question {
	font-weight: 600;
  background-color: #9f2042;
}

.answers {
  margin-bottom: 20px;
}

.answers label {
  display: block;
}

#submit:hover, #next:hover, #previous:hover, #highScores:hover {
	background-color: #9f2042;
  color: #211103;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.quiz-container {
  position: relative;
  height: 200px;
  margin-top: 40px;
}

.timer {
  position: relative;
  height: 100px;
  margin-top: 10px;
}